*{
    font-family: 'Sarabun', sans-serif;
}
.sub-menu {
    font-weight: 600;
    color: #2f3542;
    font-size: 22px;
}
.bg-grey-card {
    background-color: #fcfcfc;
}
/deep/.input-text-right input {
    text-align: right !important;
}
.img-header {
    position: absolute;
    right: 0px;
    max-height: 180px;
    max-width: 250px;
}
.child-header{
    font-weight: 600;
    font-size: 20px;
}
.sub-title{
    font-weight: 700;
    font-size: 12px;
}
.header-table .v-data-table-header tr{
    background-color: #FCE0E7;
}
.header-table .v-data-table-header tr th span{
    color: #FF6b81;
}
.img-card-active.v-card{
    background-color: #FDF7E3;
}
.btn-size-lg{
    width: 120px;
}
/* Time Picker Ant-Design */
.ant-time-picker-input{
    height: 34px !important;
    margin: 2px;
    border: 3px solid transparent !important;
}
.ant-time-picker-input:hover{
    border: 1px solid transparent !important;
}
.active .ant-time-picker-icon .anticon svg{
    color:#ff6b81 !important;
}
.ant-time-picker-icon {
    position: absolute;
    top: 15px !important;
    height: 24px !important;
    width: 24px !important;
}
.ant-time-picker-clear{
    position: absolute;
    top: 15px !important;
    height: 24px !important;
    width: 24px !important;
}
.anticon svg {
    color : #5d5d5d !important;
    height: 24px !important;
    width: 24px !important;
}
.time-picker-hidden input{
    z-index: 0 !important;
    position: relative; 
    height: 40px !important;
    border: none  !important;
    color: transparent !important;
}
.time-picker input{
    z-index: 0 !important;
    position: relative !important; 
    color: transparent !important;
    border: none  !important;
    height: 40px !important;
    border-radius: 5px !important;
}
.overflow-none .v-stepper__wrapper {
    overflow: unset !important;
    transition: none;
}
.display-none{
    display: none;
}