*{
    font-family: 'Sarabun', sans-serif;
}
.sub-menu {
    font-weight: 600;
    color: #2f3542;
    font-size: 22px;
}
.bg-grey-card {
    background-color: #fcfcfc;
}
/deep/.input-text-right input {
    text-align: right !important;
}
.img-header {
    position: absolute;
    right: 0px;
    max-height: 180px;
    max-width: 250px;
}
.child-header{
    font-weight: 600;
    font-size: 20px;
}
.sub-title{
    font-weight: 700;
    font-size: 12px;
}
.header-table .v-data-table-header tr{
    background-color: #FCE0E7;
}
.header-table .v-data-table-header tr th span{
    color: #FF6b81;
}
.img-card-active.v-card{
    background-color: #FDF7E3;
}
.btn-size-lg{
    width: 120px;
}